@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

:root {
  --position: 2px;
  --headercolor: #f37107;
  --header: #FFEBCD;
  --slidecolor: #fdcaad;
  --slidebefore: #f34506;
  --addbutton: #f36507;
  --noteheader: #f37107;
  --white: #FFF;
  --noteborder: #ABCABC;
  --textcolor: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  height: 15vh;
  background-color: var(--header);
  color: var(--headercolor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--headercolor);
}

.logo {
  font-size: 2.5rem;
  margin-left: 15px;
  font-style: italic;
}

.slide {
  position: relative;
  width: 64px;
  height: 34px;
  background-color: var(--slidecolor);
  border-radius: 15px;
  transition: .4s;
  cursor: pointer;
}

.slide:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  background-color: var(--slidebefore);
  top: 2px;
  left: var(--position);
  border-radius: 15px;
  transition: .4s;
  /* left: 31px; */
}

.add-note {
  padding: 8px 15px;
  margin: 20px 0 10px 70px;
  background-color: var(--addbutton);
  color: var(--white);
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 1.2rem;
  cursor: pointer;
}


.note-container {
  margin: 10px auto 30px;
  height: 30vh;
  width: 90%;
  
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--noteheader);
  color: var(--white);
  height: 25%;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.note-body {
  height: 75%;
  width: 100%;
  border: 1px solid var(--noteborder);
  padding: 10px;
  font-size: 1rem;
  resize: none;
  overflow: auto;
  outline: none;
  background-color: var(--white);
  color: var(--textcolor);
}

.note-button button{
  margin: 3px;
  padding: 5px 15px;
  cursor: pointer;
}

.change-mode {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.change-mode span {
  margin-right: 10px;
  font-size: 1.2rem;
}

.container {
  background-color: var(--white);
  height: 100vh;
}